trading-web/src/test/resources/xsd/BloombergData.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processedFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fieldName"/>
              <xs:element type="xs:float" name="fieldValue"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="errorFields" type="xs:string"/>
  <xs:element name="securityName" type="xs:string"/>
  <xs:element name="userId" type="xs:string"/>
  <xs:element name="startTimestamp" type="xs:string"/>
  <xs:element name="beforeSendTimestamp" type="xs:string"/>
  <xs:element name="sdkTimestamp" type="xs:string"/>
</xs:schema>